@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030a13;
  background-image: url("/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
